
 body {
  color: white;
  box-sizing: border-box;
}
ul {
  margin: 0px;
}

.sub-head p {
  margin: 0px;
  padding: 0px;
  font-size: small;
}

p {
  color: white;
  float: left;
  margin-left: 20px;
  margin-right: 200px;
}

.profile-pic {
  margin: auto;
  width: 25%;
  height: auto;
  display: block;
}


ul {
  float: left;
  margin-right: 200px;
}
