
body {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: medium;
  background-image: url(/pics/background5.jpg);
  background-attachment: fixed;
}

.sub-head p {
  margin: 0px;
  padding: 0px;
  font-size: small;
}

.profile-pic {
  margin: auto;
  width: 25%;
  height: auto;
  display: block;
  margin-bottom: 50px;
}

a:link {
  color: rgb(0, 252, 252);
}

a:visited {
  color: rgb(245, 229, 13);
}

.projects ol {
  margin-top: 0px;
  margin-bottom: 25px;
  float: left;
  width: 500px;
}

.about {
  width: 500px;
  float: right;
}

.bio {
  float: left;
  width: 750px;
  padding-left: 200px;
  padding-right: 200px;
}

.head {
  font-size: larger;
}