
body {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: medium;
  background-image: url(/pics/background5.jpg);
  background-attachment: fixed;
}

.sub-head p {
  margin: 0px;
  padding: 0px;
  font-size: small;
}

.profile-pic {
  margin: auto;
  width: 25%;
  height: auto;
  display: block;
  margin-bottom: 50px;
}

a:link {
  color: rgb(0, 252, 252);
}

a:visited {
  color: rgb(245, 229, 13);
}

.projects ol {
  margin-top: 0px;
  margin-bottom: 25px;
  margin-right: 20px;
  float: left;
  width: 500px;
}

.skills {
  width: 200px;
  float: left;
  padding-left: 50px;
}

.about {
  width: 250px;
  float: right;
  padding: 5px 10px 0px 10px;
  border: 1px solid white;
  box-sizing: border-box;
}

.clear {
  color: transparent;
}

.exp {
  float: left;
  width: 750px;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 50px;
  margin-bottom: 250px;
}

.head {
  font-size: larger;
}

width: 50%;
border-width: 20px;
border: solid white;
border-width: 1px;
background-color: orange;
margin-bottom: 10px;
box-sizing: border-box;